<div class="container m-5">
    <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Sensor Registration</h5>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Sensor ID</label>
            <input [(ngModel)]="sensorID" type="text" class="form-control" id="sensorID" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Country</label>
            <input [(ngModel)]="country" type="text" class="form-control" id="country" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">City</label>
            <input [(ngModel)]="city" type="text" class="form-control" id="city" >
          </div>
          <a (click)="formSubmit()" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    
</div>
